[submodule "packages/backend/lib/forge-std"]
	path = packages/backend/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/backend/lib/solmate"]
	path = packages/backend/lib/solmate
	url = https://github.com/rari-capital/solmate
